* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bodyL {
  background-color: #f2e8cf; }
  .bodyL main {
    min-height: 900px;
    background-color: #f2e8cf; }
    .bodyL main .contTitulo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      margin-top: 150px;
      background-image: url(../img/fondoVivero.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .bodyL main .contTitulo .titulo {
        text-align: center;
        color: #f2e8cf;
        font-size: 4rem;
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bold;
        background-color: #386641;
        padding: 20px;
        border-radius: 15px; }
    .bodyL main .divParrafo {
      display: flex;
      justify-content: center;
      margin-top: 50px; }
      .bodyL main .divParrafo .parrafoInicio {
        color: #386641;
        font-size: 1.8rem;
        font-family: "Edu TAS Beginner", cursive; }
    .bodyL main .searchBar {
      display: flex;
      margin: auto;
      width: 300px;
      justify-content: center;
      margin-top: 100px;
      border-style: solid;
      border-color: black;
      border-radius: 15px;
      padding: 5px; }
      .bodyL main .searchBar .search {
        width: 300px;
        border: none;
        background-color: #f2e8cf; }
    .bodyL main .botonesInicio {
      display: flex;
      justify-content: space-around;
      margin-top: 100px; }
      .bodyL main .botonesInicio .btn {
        padding: 10px;
        width: 200px;
        background-color: #a7c957; }
        .bodyL main .botonesInicio .btn .linkInicio {
          color: white;
          text-decoration: none;
          font-family: "Edu TAS Beginner", cursive;
          font-size: 1.5rem; }
      .bodyL main .botonesInicio .btn:hover {
        background-color: #386641; }
  .bodyL .barraNavL {
    background-color: #386641; }
    .bodyL .barraNavL .navbar-brand {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.7rem;
      color: #f2e8cf; }
    .bodyL .barraNavL .nav-link {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.2rem;
      color: #f2e8cf; }
      .bodyL .barraNavL .nav-link #imgDm {
        width: 35px;
        margin-left: 15px;
        background-image: url(/img/sol.png); }
    .bodyL .barraNavL .enPag {
      color: #a7c957;
      font-weight: bold; }
    .bodyL .barraNavL .barraNav {
      max-width: 500px; }
  .bodyL .footerL {
    background-color: #386641;
    min-height: 80px; }
    .bodyL .footerL .footerI {
      display: flex; }
      .bodyL .footerL .footerI .footerItem {
        color: #f2e8cf;
        padding: 10px; }

.divAbt {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .divAbt .imgAbt {
    width: 700px;
    margin: 20px;
    border: solid;
    border-color: #a7c957;
    border-radius: 10px;
    border-width: 6px; }
  .divAbt .textoAbt {
    margin: 25px;
    color: #386641;
    font-size: 1.7rem;
    font-family: "Edu TAS Beginner", cursive;
    text-align: center; }

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .cards .cardsT {
    margin: 20px;
    background-color: #bc4749;
    min-width: 300px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
    .cards .cardsT .tituloCard {
      color: #f2e8cf;
      margin: 20px; }
    .cards .cardsT .textoCard {
      color: #f2e8cf;
      font-weight: bold; }
    .cards .cardsT .botonCard {
      background-color: #a7c957;
      font-size: 20px;
      padding: 5px;
      border-style: none;
      border-radius: 6px;
      margin: 15px; }
    .cards .cardsT .imgC {
      max-width: 300px;
      margin: 10px;
      border-radius: 20px; }

.bloque {
  height: 200px; }

.listaC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #a7c957;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  color: #f2e8cf; }
  .listaC .liContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .listaC .liContenedor .liP {
      font-weight: bold; }

.contenedorBotones {
  display: flex;
  justify-content: space-evenly;
  margin: 20px; }
  .contenedorBotones .botonesC {
    background-color: #386641;
    color: #f2e8cf;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px; }

.contenedorFormulario {
  margin: 50px auto;
  width: 800px;
  background-color: #386641;
  border-radius: 20px; }
  .contenedorFormulario .formulario {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedorFormulario .formulario .itemF {
      border-radius: 5px;
      background-color: #f2e8cf;
      color: #a7c957;
      font-family: "Edu TAS Beginner", cursive;
      height: 50px;
      width: 400px;
      font-size: 1.3rem;
      margin: 10px; }
    .contenedorFormulario .formulario .contBotonesF {
      display: flex;
      width: 500px;
      justify-content: center;
      align-items: center; }
      .contenedorFormulario .formulario .contBotonesF .botonesF {
        padding: 10px;
        margin: 30px 50px;
        min-width: 200px;
        background-color: #f2e8cf;
        border-radius: 20px;
        color: #a7c957;
        font-size: 1.4rem;
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bold; }

.bodyD {
  background-color: #003566; }
  .bodyD .mainD {
    min-height: 900px;
    background-color: #003566; }
    .bodyD .mainD .contTitulo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      margin-top: 150px;
      background-image: url(../img/fondoVivero.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .bodyD .mainD .contTitulo .titulo {
        text-align: center;
        color: #ffc300;
        font-size: 4rem;
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bold;
        background-color: #001d3d;
        padding: 20px;
        border-radius: 15px; }
    .bodyD .mainD .divParrafo {
      display: flex;
      justify-content: center;
      margin-top: 50px; }
      .bodyD .mainD .divParrafo .parrafoInicio {
        color: #ffc300;
        font-size: 1.8rem;
        font-family: "Edu TAS Beginner", cursive; }
    .bodyD .mainD .searchBar {
      display: flex;
      margin: auto;
      width: 300px;
      justify-content: center;
      margin-top: 100px;
      border-style: solid;
      border-color: black;
      border-radius: 15px;
      padding: 5px; }
      .bodyD .mainD .searchBar .search {
        width: 300px;
        border: none;
        background-color: #003566; }
    .bodyD .mainD .botonesInicio {
      display: flex;
      justify-content: space-around;
      margin-top: 100px; }
      .bodyD .mainD .botonesInicio .btn {
        padding: 10px;
        width: 200px;
        background-color: #001d3d; }
        .bodyD .mainD .botonesInicio .btn .linkInicio {
          color: #ffc300;
          text-decoration: none;
          font-family: "Edu TAS Beginner", cursive;
          font-size: 1.5rem; }
      .bodyD .mainD .botonesInicio .btn:hover {
        background-color: #000814;
        color: #ffc300; }
  .bodyD .barraNavD {
    background-color: #001d3d; }
    .bodyD .barraNavD .navbar-brand {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.7rem;
      color: #ffc300; }
    .bodyD .barraNavD .nav-link {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.2rem;
      color: #ffc300; }
    .bodyD .barraNavD .enPag {
      color: #ffc300;
      font-weight: bold; }
    .bodyD .barraNavD .barraNav {
      max-width: 500px; }
  .bodyD .textoAbt {
    color: #ffc300; }
  .bodyD .cardsT {
    background-color: #364958; }
    .bodyD .cardsT .tituloCard {
      color: #ffc300; }
    .bodyD .cardsT .textoCard {
      color: #ffc300; }
    .bodyD .cardsT .botonCard {
      color: #ffc300;
      background-color: #001d3d; }
    .bodyD .cardsT .botonCard:hover {
      background-color: #003566;
      color: aliceblue; }
  .bodyD .listaC {
    background-color: #001d3d;
    color: #ffc300; }
  .bodyD .botonesC {
    background-color: #001d3d;
    color: #ffc300; }
  .bodyD .botonesC:hover {
    background-color: #364958;
    color: white; }
  .bodyD .footerD {
    background-color: #001d3d;
    min-height: 80px; }
    .bodyD .footerD .footerI {
      display: flex; }
      .bodyD .footerD .footerI .footerItem {
        color: #ffc300;
        padding: 10px; }
