* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bodyL {
  background-color: #f2e8cf; }
  .bodyL main {
    min-height: 900px;
    background-color: #f2e8cf; }
    .bodyL main .contTitulo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      margin-top: 150px; }
      .bodyL main .contTitulo .titulo {
        text-align: center;
        color: black;
        font-size: 4rem;
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bold; }
    .bodyL main .searchBar {
      display: flex;
      margin: auto;
      width: 300px;
      justify-content: center;
      margin-top: 100px;
      border-style: solid;
      border-color: black;
      border-radius: 15px;
      padding: 5px; }
      .bodyL main .searchBar .search {
        width: 300px;
        border: none;
        background-color: #f2e8cf; }
    .bodyL main .botonesInicio {
      display: flex;
      justify-content: space-around;
      margin-top: 100px; }
      .bodyL main .botonesInicio .btn {
        padding: 10px;
        width: 200px;
        background-color: #a7c957; }
        .bodyL main .botonesInicio .btn .linkInicio {
          color: white;
          text-decoration: none;
          font-family: "Edu TAS Beginner", cursive;
          font-size: 1.5rem; }
      .bodyL main .botonesInicio .btn:hover {
        background-color: #386641; }
  .bodyL .barraNavL {
    background-color: #386641; }
    .bodyL .barraNavL .navbar-brand {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.7rem;
      color: #f2e8cf; }
    .bodyL .barraNavL .nav-link {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.2rem;
      color: #f2e8cf; }
    .bodyL .barraNavL .enPag {
      color: #a7c957;
      font-weight: bold; }
    .bodyL .barraNavL .barraNav {
      max-width: 500px; }
  .bodyL .footerL {
    background-color: #386641;
    min-height: 80px; }
    .bodyL .footerL .footerI {
      display: flex; }

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .cards .cardsT {
    margin: 20px;
    background-color: #bc4749;
    min-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
    .cards .cardsT .tituloCard {
      color: #f2e8cf; }
    .cards .cardsT .textoCard {
      color: #f2e8cf;
      font-weight: bold; }
    .cards .cardsT .botonCard {
      background-color: #a7c957;
      font-size: 20px;
      padding: 5px;
      border-style: none;
      border-radius: 6px;
      margin-top: 15px; }

.bloque {
  height: 200px; }

.bodyD {
  background-color: #003566; }
  .bodyD .mainD {
    min-height: 900px;
    background-color: #003566; }
    .bodyD .mainD .contTitulo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      margin-top: 150px; }
      .bodyD .mainD .contTitulo .titulo {
        text-align: center;
        color: #ffc300;
        font-size: 4rem;
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bold; }
    .bodyD .mainD .searchBar {
      display: flex;
      margin: auto;
      width: 300px;
      justify-content: center;
      margin-top: 100px;
      border-style: solid;
      border-color: black;
      border-radius: 15px;
      padding: 5px; }
      .bodyD .mainD .searchBar .search {
        width: 300px;
        border: none;
        background-color: #003566; }
    .bodyD .mainD .botonesInicio {
      display: flex;
      justify-content: space-around;
      margin-top: 100px; }
      .bodyD .mainD .botonesInicio .btn {
        padding: 10px;
        width: 200px;
        background-color: #001d3d; }
        .bodyD .mainD .botonesInicio .btn .linkInicio {
          color: #ffc300;
          text-decoration: none;
          font-family: "Edu TAS Beginner", cursive;
          font-size: 1.5rem; }
      .bodyD .mainD .botonesInicio .btn:hover {
        background-color: #000814;
        color: #ffc300; }
  .bodyD .barraNavD {
    background-color: #001d3d; }
    .bodyD .barraNavD .navbar-brand {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.7rem;
      color: #ffc300; }
    .bodyD .barraNavD .nav-link {
      font-family: "Edu TAS Beginner", cursive;
      font-size: 1.2rem;
      color: #ffc300; }
    .bodyD .barraNavD .enPag {
      color: #ffc300;
      font-weight: bold; }
    .bodyD .barraNavD .barraNav {
      max-width: 500px; }
  .bodyD .footerD {
    background-color: #001d3d;
    min-height: 80px; }
    .bodyD .footerD .footerI {
      display: flex; }
