.bodyL {
    background-color: #f2e8cf;

    main {
        min-height: 900px;
        background-color: #f2e8cf;

        .contTitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            margin-top: 150px;
            background-image: url(../img/fondoVivero.jpg);
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;
            .titulo {
                text-align: center;
                color: #f2e8cf;
                font-size: 4rem;
                font-family: "Edu TAS Beginner", cursive;
                font-weight: bold;
                background-color: #386641;
                padding: 20px;
                border-radius: 15px;
            }
        }

        .divParrafo{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .parrafoInicio{
                color: #386641;
                font-size: 1.8rem;
                font-family: "Edu TAS Beginner", cursive;
            }
        }


        .searchBar {
            display: flex;
            margin: auto;
            width: 300px;
            justify-content: center;
            margin-top: 100px;
            border-style: solid;
            border-color: black;
            border-radius: 15px;
            padding: 5px;
            

            .search {
                width: 300px;
                border: none;
                background-color:#f2e8cf;
            }
        }

        .botonesInicio {
            display: flex;
            justify-content: space-around;
            margin-top: 100px;

            .btn {
                padding: 10px;
                width: 200px;
                background-color: #a7c957;
         
                .linkInicio {
                    color: white;
                    text-decoration: none;
                    font-family:"Edu TAS Beginner", cursive;
                    font-size: 1.5rem;
                }
            }
            .btn:hover{
                background-color: #386641;
            }

        }

    }
    .barraNavL{
        background-color: #386641;
        .navbar-brand{
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.7rem;
            color: #f2e8cf;
        }
        .nav-link{
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.2rem;
            color:#f2e8cf;
            #imgDm{
                width: 35px;
                margin-left: 15px;
                background-image: url(/img/sol.png);
            }
        }
        .enPag{
            color: $secundarioL;
            font-weight: bold;
        }
        .barraNav {
            max-width: 500px;
        }
    }


    .footerL{
        background-color: $terciarioL;
        min-height: 80px;
        .footerI {
            display: flex;
            .footerItem{
                color: $fondoL;
                padding: 10px;
            }
        }
    }
}