body {
    background-color: #f2e8cf;

    main {
        min-height: 900px;
        background-color: #f2e8cf;

        .contTitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin-top: 150px;
            .titulo {
                text-align: center;
                color: black;
                font-size: 4rem;
                font-family: "Edu TAS Beginner", cursive;
                font-weight: bold;
            }
        }


        .searchBar {
            display: flex;
            margin: auto;
            width: 300px;
            justify-content: center;
            margin-top: 100px;
            border-style: solid;
            border-color: black;
            border-radius: 15px;
            padding: 5px;
            

            .search {
                width: 300px;
                border: none;
                background-color:#f2e8cf;
            }
        }

        .botonesInicio {
            display: flex;
            justify-content: space-around;
            margin-top: 100px;

            .btn {
                padding: 10px;
                width: 200px;
                background-color: #a7c957;
         
                .linkInicio {
                    color: white;
                    text-decoration: none;
                    font-family:"Edu TAS Beginner", cursive;
                    font-size: 1.5rem;
                }
            }
            .btn:hover{
                background-color: #386641;
            }

        }

    }
    .navbar{
        background-color: #386641;
        .navbar-brand{
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.7rem;
            color: #f2e8cf;
        }
        .nav-link{
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.2rem;
            color:#f2e8cf;
        }
        .enPag{
            color: #a7c957;
            font-weight: bold;
        }
        .barraNav {
            max-width: 500px;
        }
    }


    footer {
        background-color: #386641;

        .footerI {
            display: flex;
        }
    }
}