.bodyD {
    background-color: $fondoD;

    .mainD {
        min-height: 900px;
        background-color: $fondoD;

        .contTitulo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            margin-top: 150px;
            background-image: url(../img/fondoVivero.jpg);
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;
            .titulo {
                text-align: center;
                color: $secundarioD;
                font-size: 4rem;
                font-family: "Edu TAS Beginner", cursive;
                font-weight: bold;
                background-color: $terciarioD;
                padding: 20px;
                border-radius: 15px;
            }
        }

        .divParrafo{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .parrafoInicio{
                color: $secundarioD;
                font-size: 1.8rem;
                font-family: "Edu TAS Beginner", cursive;
            }
        }

        .searchBar {
            display: flex;
            margin: auto;
            width: 300px;
            justify-content: center;
            margin-top: 100px;
            border-style: solid;
            border-color: black;
            border-radius: 15px;
            padding: 5px;
            

            .search {
                width: 300px;
                border: none;
                background-color:$fondoD;
            }
        }

        .botonesInicio {
            display: flex;
            justify-content: space-around;
            margin-top: 100px;

            .btn {
                padding: 10px;
                width: 200px;
                background-color: $terciarioD;
         
                .linkInicio {
                    color: $secundarioD;
                    text-decoration: none;
                    font-family:"Edu TAS Beginner", cursive;
                    font-size: 1.5rem;
                }
            }
            .btn:hover{
                background-color: #000814;
                color: $secundarioD;
            }

        }

    }
    .barraNavD{
        background-color: $terciarioD;
        .navbar-brand{
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.7rem;
            color: $secundarioD;
        }
        .nav-link{
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.2rem;
            color: $secundarioD;
        }
        .enPag{
            color: $secundarioD;
            font-weight: bold;
        }
        .barraNav {
            max-width: 500px;
        }
    }

    .textoAbt{
        color: $secundarioD;
    }


    .footerD{
        background-color: $terciarioD;
        min-height: 80px;
        .footerI {
            display: flex;
            .footerItem{
                color: $secundarioD;
                padding: 10px;
            }
        }
    }
}