    .cards{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .cardsT{
            margin: 20px;
            background-color: #bc4749;
            min-width: 300px;
            min-height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            .tituloCard{
                color: $fondoL;
                margin: 20px;
            }
            .textoCard{
                color: $fondoL;
                font-weight: bold;
            }
            .botonCard{
                background-color: $secundarioL;
                font-size: 20px;
                padding: 5px;
                border-style: none;
                border-radius: 6px;
                margin: 15px;
            }
            .imgC{
                max-width: 300px;
                margin: 10px;
                border-radius: 20px;
            }
        }

    }
    .bloque{
        height: 200px;
    }


